:root {
  --basic-color: #2e2f42;
  --minor-color: #434455;
  --white-color: #ffffff;
  --logo-color: #4d5ae5;
  --btn-background-color: #f4f4fd;
  --btn-hover-color: #404bbf;
  --accent-color: #e7e9fc;
}

/* Основний колір #2E2F42; */
/* Другорядний колір #434455; */
/* Білий колір #FFFFFF; */
/* Синій лого #4D5AE5; */
/* Акцент #e7e9fc;*/
/* Бек #f4f4fd; */

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  color: var(--basic-color);
  font-size: 16px;
}
.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.padding {
  padding: 32px 16px;
  border-left: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}
.padding-team {
  padding: 32px 16px;
}
/* Стилізація ./index.html */

.main-header {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid var(--accent-color);
}
.header-navigation {
  margin-right: auto;
}
.header-logo > span {
  color: var(--logo-color);
}
.header-logo {
  font-family: "Raleway";
  color: var(--basic-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-list {
  display: flex;
  margin-left: 76px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.header-item {
  margin-right: 40px;
}

.header-item:last-child {
  margin: 0;
}

.header-link:hover,
.header-link:focus {
  color: var(--btn-hover-color);
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--basic-color);
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.header-address {
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--btn-hover-color);
}
.header-address-link {
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--minor-color);
}

.header-address-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.header-address-item {
  margin-right: 40px;
}

.header-address-item:last-child {
  margin: 0;
}

.section-hero {
  background-color: var(--basic-color);
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  width: 1440px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section-hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 48px;
  text-align: center;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.section-hero-btn {
  border: none;
  padding: 16px 32px;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--logo-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  border-radius: 4px;
}
.section-hero-btn:hover,
.section-hero-btn:focus {
  background-color: var(--btn-hover-color);
  color: var(--white-color);
}

.section-features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-features-title {
}

.section-features-list {
  display: flex;

  justify-content: space-between;
}

.section-features-item {
  width: calc((100% - 72px) / 4);
  width: 264px;
}

.section-features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--basic-color);
  margin-top: 0;
  margin-bottom: 8px;
}
.section-features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--minor-color);
}
.section-doing {
  padding-bottom: 120px;
}
.section-doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--basic-color);
  margin-bottom: 72px;
}
.section-doing-list {
  display: flex;
  justify-content: space-between;
}
.section-doing-item {
  width: 360px;
}
.section-doing-img {
}
.section-team {
  background-color: var(--btn-background-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--basic-color);
  margin-bottom: 72px;
}
.section-team-list {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.section-team-item {
  background-color: var(--white-color);
  width: calc((100% - 72px) / 4);
}
.section-team-img {
}
.section-team-suntitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--basic-color);
  margin-bottom: 8px;
}
.section-team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--minor-color);
}
.footer {
  background-color: var(--basic-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-list {
}

.footer-logo > span {
  color: var(--logo-color);
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--btn-background-color);
  margin-bottom: 16px;
  display: inline-block;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  width: 264px;
  padding-left: 0;
}

/* Стилізація ./portfolio.html */

.portfolio {
  padding: 96px 0 120px;
}

.section-btn {
}
.btn {
  padding: 12px 24px;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--btn-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
}

.btn-item:last-child {
  margin-right: 0;
}
.btn:hover,
.btn:focus {
  background-color: var(--btn-hover-color);
  color: var(--white-color);
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.btn-item {
  margin-right: 24px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  width: 360px;
}

.portfolio-img {
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--basic-color);
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--minor-color);
}
